header
  position: fixed
  top: 0
  left: 15%
  width: 85%
  height: 8vh
  +flex-row-center
  column-gap: 4rem
  font-size: 1.4rem
  font-weight: bold
  letter-spacing: .2rem
  text-transform: uppercase
  color: #fff
  background-color: transparent
  margin-top: 1rem
  z-index: 1
  transition: all 1s cubic-bezier(.19,1,.22,1)
  .header__logo
    width: 60px
    height: 100%
    filter: invert(100%)
    background-image: url('../img/spaceLogo.svg')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    cursor: pointer
  nav
    flex-basis: 35%
    height: 100%
    .nav__list
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: space-evenly
      list-style: none
      &__element
        +flex-row-center
        height: 100%
        a
          position: relative
          margin-top: .3rem
          padding-bottom: .3rem
          overflow: hidden
          text-decoration: none
          color: #fff
          &:after
            content: ''
            position: absolute
            width: 100%
            height: .1rem
            transform: scaleX(0)
            bottom: 0
            left: 0
            background-color: #fff
            transform-origin: bottom right
            transition: transform 0.3s cubic-bezier(.19,1,.22,1)
          &:hover:after
            transform: scaleX(1)
            transform-origin: bottom left
          &:focus:after
            transform: scaleX(1)
            transform-origin: bottom left
  .header__right-content
    margin-left: auto
    margin-right: 7rem
    &__shop
      +flex-row-center
    a
      position: relative
      margin-top: .3rem
      padding-bottom: .3rem
      text-decoration: none
      color: #fff
      &:after
        content: ''
        position: absolute
        width: 100%
        transform: scaleX(0)
        height: .1rem
        bottom: 0
        left: 0
        background-color: #fff
        transform-origin: bottom right
        transition: transform 0.3s cubic-bezier(.19,1,.22,1)
      &:hover:after
        transform: scaleX(1)
        transform-origin: bottom left
      &:focus:after
        transform: scaleX(1)
        transform-origin: bottom left
.container__hamburger
  position: fixed
  top: 0
  right: 0
  height: 8vh
  margin: 1rem 3rem 0 0
  +flex-row-center
  color: #fff
  background-color: transparent
  border: none
  z-index: 3
  font-size: 1.5rem
  &__button
    height: 1.4rem
    width: 1.4rem
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    transition: 250ms ease-out
    background-color: transparent
    border: none
    cursor: pointer
    .line
      height: .2rem
      width: 100%
      background: #fff
      display: block
      border-radius: 5px
      transition: 250ms ease-out
  &__button.open .line.first
    transform: rotate(45deg) translateX(.14rem)
    transform-origin: left
    background: #fff
  &__button.open .line.third
    transform: rotate(-45deg) translateX(.14rem)
    transform-origin: left
    background: #fff
  &__button.open .line.second
    opacity: 0
    width: 0

/* =============================
 Header styles for shop page
 ============================ */

.header-shop
  top: 0
  left: 0
  height: 10vh
  width: 100%
  margin-top: 0
  padding-left: 8rem
  background-color: #000
  border-bottom: .1rem solid rgba(255, 255, 255, .15)
  z-index: 3
  .header-shop__logo
    width: 60px
    height: 100%
    filter: invert(100%)
    background-image: url('../img/spaceLogo.svg')
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    cursor: pointer
  .header-shop__right-content
    display: flex
    align-items: center
    height: 100%
    column-gap: 2rem
    margin-left: auto
    margin-right: 7rem
    a
      text-decoration: none
      color: #fff
      transition: color .2s ease-in-out
    a:first-child, a:nth-child(2)
      color: #888
      &:hover
        color: #fff
  nav
    .nav__list
      &__element
        position: relative
        a
          &:hover:after
            transform: scaleX(0)
        ul
          position: absolute
          top: calc(100% - .1rem)
          left: 0
          display: flex
          list-style: none
          flex-direction: column
          align-items: flex-start
          justify-content: center
          row-gap: 2rem
          width: 20rem
          padding: 2rem
          background-color: #000
          border-left: .1rem solid rgba(255, 255, 255, .2)
          border-right: .1rem solid rgba(255, 255, 255, .2)
          border-bottom: .1rem solid rgba(255, 255, 255, .2)
          visibility: hidden
          opacity: 0
          transition: all .3s ease-in-out
          overflow: hidden
          span
            display: block
            position: absolute
            top: 0rem
            left: 0
            width: 100%
            height: .2rem
            background-color: #fff
            transform: translateX(-100%)
            transition: all .3s ease-in-out
          li
            flex-basis: 30%
            width: 100%
            text-transform: none
            font-size: 1.5rem
            font-weight: normal
            cursor: pointer
            transition: all 0.3s cubic-bezier(.19,1,.22,1)
            &:hover
              color: #a8a8a8

/* =============================
 Header styles for shop page mobile menu
 ============================ */

.header-shop__right-content-mobile, .header-shop__humburger-left-mobile
  display: none
