@import 'reset'
@import 'header'
@import 'aside'
@import 'sectionOne'

@font-face
  font-family: 'D-DIN Regular'
  font-style: normal
  font-weight: normal
  src: local('D-DIN Regular'), url('../assets/font/D-DIN.woff') format('woff')

@font-face
  font-family: 'D-DIN DIN-Bold'
  font-style: normal
  font-weight: normal
  src: local('D-DIN DIN-Bold'), url('../assets/font/D-DIN-Bold.woff') format('woff')

html
  font-size: 62.5%
  font-family: 'D-DIN Regular', 'D-DIN DIN-Bold'
.container
  width: 100%
